<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    - var products = shop 
    if(users)
        p Special offer for you
    else 
        p No special offer for you
    .container 
        each val in products
            .product__container 
                .product__item 
                    p=val.item
                    p= val.price
                
</body>
</html>